.blog{
    background-color:rgb(92, 84, 85);
    margin-bottom:10px;
a{
    color:black;
}

.text{
    margin :10px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius:100px 10px;
}

.thum-img{
    margin:10px;
}
.card{
    background-color: #f5f2ed;
}
}

.blog-con{
    margin-top: 2rem;
    margin-bottom: 2rem;
}