
footer{
    background-color:#000;
    position: relative;
    bottom: 0;
    width:100%;
    height:100px;
}

#social_media_links {
    font-size: 50px;
    text-align: center;
    color:#DCDCDC;
    
}


