a{
    color:rgb(77, 77, 77);
    font-family: 'IntroRust-Base';
}
 
p {
    font-size:20px;
    font-style: normal;
    font-family: GothamRounded-Book;
    color:rgb(77, 77, 77);
}

h1 h2 h3 {
    color:rgb(77, 77, 77);
    font-family:'IntroRust-Base';

}

.inspiration {
    display: block;

    a{
        color:rgb(77, 77, 77);
     }

    p {
        font-size:20px;
        font-style: normal;
        font-family: Arial, Helvetica, sans-serif;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width:100%;
        height:350px;
    }
    .in{
        background-color: #f5f2ed;
        margin-bottom: 15px;
    }
}

.mySlides {
        display:none;
    }

.slideshow {
      img {
        box-shadow: inset 0 0 0 1000px #0007;
        width: 100%;
        height: auto;
        }
        h3 {
            color:white;
        }
        .caption{
            text-align: center;
            position: absolute;
            top:50%;
            left:50%;
            width: 100%;
            transform: translate(-50%,-50%);
            color:#fff;
            z-index: 4;
        }
        p{
            color:white;
        }
}
.carousel-inner{
    @media (max-width: 767px) 
 {
top: 35%;
width: 90%;
}
}

.about{
    background-color: #f5f2ed;
    a:link {
        color:#000;
    }
    
    /* visited link */
    a:visited {
        color:#000;
    }
    
    /* mouse over link */
    a:hover {
        color: darkgray;
    }
    
    /* selected link */
    a:active {
        color: #000;
    }
    }

    .tips{
        background-color: #f5f2ed;
       
     a{
         color: rgb(77, 77, 77);
     }

     .ti{
        background-color: #f5f2ed;
        margin-bottom: 15px;
    }
    }

    .tips-archive{
        margin-bottom: 50px;
    }

    