.reseller {
    .card-img-top {
    border: 1px solid #ddd; 
    padding: 5px;  
}
}

.re{
    background-color: #f5f2ed;
    }

.resellers{
    margin-top: 30px;
    a{
        color: black;
     }
}
.re-all{
     margin-top:2rem;
     margin-bottom:2rem;
}

p {
    font-size:20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
 
.logo{
    margin-bottom:100px;
    a{
        font-family: 'Abril Fatface', cursive;
        font-weight: bold;
        font-size: 30px;
        float: left;
        margin-top: 20px;
    }

    /* visited link */
    a:visited {
        color:#000;
    }
    
    /* mouse over link */
    a:hover {
        color:rgb(77, 77, 77);;
    }
    
    /* selected link */
    a:active {
        color: #000;
    }

    a{
        color:rgb(77, 77, 77);
        font-family: 'IntroRust-Base';
    }
     
    p {
        font-size:20px;
        font-style: normal;
        font-family: GothamRounded-Book;
        color:rgb(77, 77, 77);
    }
    
    h1 h2 h3 {
        color:rgb(77, 77, 77);
        font-family:'IntroRust-Base';
    
    }

    h1{
        color:rgb(77, 77, 77);
        font-family:'IntroRust-Base';
    }
    
}

.map{
    background-color: #000;
    margin-bottom: 25px;
}

#pis_posts_in_sidebar-2 {
p{
    font-size:10px;
}
}

@media screen and (max-width: 600px) {
    .gallery{
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .gallery {
        width: 100%;
    }
}

@media screen and (min-width: 480px) {
    .gallery {
       min-width: 100%;
    }
}

.test {
    h1, a {
        color:rgb(77, 77, 77);
        font-family:'IntroRust-Base';
    }
}

.h-tag{
        color:rgb(77, 77, 77);
        font-family:'IntroRust-Base';
    
}