.sidebar{
    border: 1px solid #ddd;
    background-color: #f5f2ed;
    margin-bottom: 2rem;
    padding: 1rem;
    margin:15px;
    width:250px;

h3{
    color:white;
    text-decoration: underline;
}
    }

ul{
    color:black;
}

li {
   list-style: none;
   }

li a{
    font-family: 'IntroRust-Base';
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    color: #818181;
    display: block;
    text-decoration: none;
    
}

li a:hover {
    color: #f1f1f1;
}

.widget-content{
    background-color: #f5f2ed;
    border: 1px solid #ddd;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 1rem;
    font-family: 'IntroRust-Base';

}